<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>TH - PANEL</title>
      <!-- Link to Hacker Bootstrap CSS -->
      <link href="/static/chunks/style/navbar.css" rel="stylesheet">
      <link rel="stylesheet" href="/static/chunks/style/hacker.css">
      <script
         src="/static/chunks/scripts/jquery.min.js"></script>
      <script
         src="/static/chunks/scripts/bootstrap.min.js"></script>

   </head>

   <body>

      <nav class="navbar navbar-default navbar-static-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">TH - PANEL | WELCOME
                  {{name.upper()}} </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        role="button"
                        aria-expanded="false">MENU<span
                           class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{url_for('livechat.chat')}}">Chat</a></li>
                        <li><a href="{{url_for('index.about')}}">About</a></li>
                        <li><a href="#">Two links?! Oh boy</a></li>
                        <li><a href="#">Now you're being ridiculous</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Much Wow</li>
                        <li><a href="#">So link</a></li>
                        <li><a href="#">Many internet</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="//reddit.com/r/itsaunixsystem"
                        target="_blank">H4X0R5 0NlY</a>
                  </li>
                  <li>
                     <a href="{{url_for('dash.user_profile')}}"
                        target="/dashboard/profile">PROFILE</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="container">
         <div class="jumbotron">
            <center>
               <h3>TeamHackz - Announcements <br>
               </center>
            </h3>
            <p>No announcements for today :)</p>
         </div>
         <h3>
            <center> Our Socials : <br> <a class="btn btn-lg btn-primary"
                  href="//youtube.com/@lumino1337"
                  role="button">Youtube</a>

               <a class="btn btn-lg btn-primary"
                  href="//instagram.com/teamhackz" role="button">Instagram</a>
            </center>
         </h3>
         <br>
         <br>
         <h4>
            <center>
               <bold> Team Hackz - Free Services</bold>
            </center>
         </h4>
         <div class="col-md-4">
            <div class="panel panel-primary">
               <div class="panel-heading">
                  <h3 class="panel-title">Information Gathering</h3>
               </div>
               <div class="panel-body"> Hackz -> Osint Tools</div>
               <ul class="list-group">
                  <a href="#" class="list-group-item">Osint Scanner</a>
                  <a href="#" class="list-group-item">Ip Grabber</a>
                  <a href="#" class="list-group-item">Phone no Info Finder </a>
                  <a href="#" class="list-group-item">Image Grabber</a>

               </ul>
            </div>
         </div>
         <div class="col-md-4">
            <div class="panel panel-warning">
               <div class="panel-heading">
                  <h3 class="panel-title">Discord Tools</h3>
               </div>
               <div class="panel-body">Hackz -> Discord Tools</div>
               <ul class="list-group">
                  <a href="#" class="list-group-item">Discord Nuker</a>
                  <a href="#" class="list-group-item">Discord Bot Login</a>
                  <a href="#" class="list-group-item">Tokens Spammer</a>
                  <a href="#" class="list-group-item">Webhook Spammer</a>

               </ul>
            </div>
         </div>

         <div class="col-md-4">
            <div class="panel panel-warning">
               <div class="panel-heading">
                  <h3 class="panel-title">Hacking Tools</h3>
               </div>
               <div class="panel-body">Hackz -> Hacking Tools</div>
               <ul class="list-group">
                  <a href="#" class="list-group-item">Phishing </a>
                  <a href="#" class="list-group-item">Ddos Attack</a>
                  <a href="#" class="list-group-item">Tools List</a>
                  <a href="#" class="list-group-item">Website Cloner</a>

               </ul>
            </div>
         </div>

         <footer>
            <center> Created by Rubin aka Lumino. &copy; Team Hackz 2024
            </center>
         </footer>

      </div> <!-- center container -->
   </body>
</html>